<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <clear/>
                <add name="ETag" value="5d6d5299-5d65-4752-9768-679a0c6c3568" />
            </customHeaders>
        </httpProtocol>
        <httpCompression>
            <dynamicTypes>
                <add enabled="true" mimeType="application/json" />
            </dynamicTypes>
            <staticTypes>
                <add enabled="true" mimeType="application/json" />
            </staticTypes>
        </httpCompression>
        <staticContent>
            <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>