<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!--<rewrite>
            <rules>
                <rule name="Rewrite Articles">
                    <match url="^article/([0-9]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="article.aspx?id={R:1}&title={R:2}" />
                </rule>
            </rules>
        </rewrite>-->
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="post/([_0-9a-z-]+)" />
                    <!--<conditions>
                        <add input="{HTTP_USER_AGENT}" pattern="Facebot|facebookexternalhit/*|Twitterbot|Pinterest|Google.*snippet" />
                    </conditions>-->
                    <action type="Redirect" url="/pages/{R:1}.html" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <clear/>
                <add name="ETag" value="d5071f67-872b-4f65-b144-17fb89e3c65c" />
            </customHeaders>
        </httpProtocol>
        <httpCompression>
            <dynamicTypes>
                <add enabled="true" mimeType="application/json" />
            </dynamicTypes>
            <staticTypes>
                <add enabled="true" mimeType="application/json" />
            </staticTypes>
        </httpCompression>
        <staticContent>
            <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>